@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.main {
  width: auto;
  height: 100vh;
}

.bgImage {
  width: 100%;
  height: auto;
  z-index: -2;
}

.mainTitleOS {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #ffffff27;
  backdrop-filter: blur(5px);
  font-family: "Ubuntu", sans-serif;
  margin-top: 100px;
  padding: 10px 10px;
}

.titleOS {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

.textOS {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 50px;
  text-align: justify;
  font-size: 20px;
}

.textOS span{
  margin-left: 70px;
}

.sala{
  position: absolute;
  right: 20px;
}

.container2{
  position: relative;
  top: -.6%;
  width: auto;
  height: 100vh;
  background-color: #181818;
}

.box2Title{
  position: absolute;
  top: 5%;
  left: 20%;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

.firstTextBox2{
  background-color: transparent;
  position: absolute;
  width: 45vw;
  height: auto;
  border-radius: 20px;
  border: 1px solid;
  border-top-color: #06c7ce;
  border-left-color: #037b99;
  border-bottom-color: #8f06ce;
  border-right-color: #035099;
  top: 20%;
  left: 2%;
}

.firstTextBox2 p{
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: justify;
  color: #fff;
  padding: 10px 10px;
}

.highlight1{
  color: #377fdd;
}

.highlight2{
  color: #c121d6;
}

.highlight3{
  color: #377fdd;
}

.highlight4{
  color: #eba119;
}

.highlight5{
  color: #13c931;
}

.underline1{
  color: #06c7ce;
}

.secondTextBox2{
  background-color: transparent;
  position: absolute;
  border-radius: 20px;
  border: 1px solid;
  border-top-color: #06c7ce;
  border-left-color: #037b99;
  border-bottom-color: #8f06ce;
  border-right-color: #035099;
  width: 45vw;
  height: auto;
  top: 50%;
  left: 2%;
}

.secondTextBox2 p{
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: justify;
  padding: 20px 20px;
  color: #fff;
}

.mainVideo{
  position: absolute;
  right: 5%;
  top: 15%;
  width: 35vw;
  height: auto;
}

.container3{
  position: relative;
  top: -.6%;
  width: auto;
  height: 100vh;
  background-color: #181818;
}

.box3Title{
  position: absolute;
  top: 5%;
  left: 20%;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

.buttonContainer{
  position: absolute;
  align-items: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 65vh;
  background-color: transparent;
  border: 2.5px solid;
  border-radius: 10px;
  animation: moveborder 2.5s ease-in-out infinite;
}

@keyframes moveborder{
  0%{
      border-top-color: #06c7ce;
      border-left-color: #037b99;
      border-bottom-color: #8f06ce;
      border-right-color: #035099;
      transition: all 1s;
  }
  25%{
      border-top-color: #037b99;
      border-left-color: #8f06ce;
      border-bottom-color: #035099;
      border-right-color: #06c7ce;
  }
  50%{
      border-top-color: #8f06ce;
      border-left-color: #035099;
      border-bottom-color: #06c7ce;
      border-right-color: #037b99;
  }
  75%{
      border-top-color: #037b99;
      border-left-color: #06c7ce;
      border-bottom-color: #035099;
      border-right-color: #8f06ce;
  }
  100%{
      border-top-color: #06c7ce;
      border-left-color: #037b99;
      border-bottom-color: #8f06ce;
      border-right-color: #035099;
  }
}

.osButtons{
  position: relative;
  top: 5%;
  width: 15vw;
  height: 12vh;
  padding: 10px 10px;
  margin: 10px 25px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: .5s;
}

.osButtons a{
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #181818;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.osButtons img{
  width: 48px;
  margin-bottom: 5px;
}

.osButtons.unix img{
  width: 32px;
}

.osButtons.linux img{
  width: 28px;
}

.osButtons::before {
  content: '';
  width: 0;
  height: 12vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #00ccff 0%, #0066ff 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
.osButtons:hover, .osButtons a:hover{
  color: #fff;
  transform: scale(1.1);
}

.osButtons:hover::before {
  width: 15vw;
 }

.footer{
  position: relative;
  bottom: 0;
  width: auto;
  height: 10vh;
  background-color: #585858;
}

.fonte1{
  position: absolute;
  top: 20%;
  left: 2%;
  padding: 10px 10px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  border: none;
  outline: none;
}

.footer button a{
  color: #181818;
  text-decoration: none;
}

.fonte2{
  top: 20%;
  padding: 10px 10px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  border: none;
  outline: none;
  position: absolute;
  left: 10%;
}

.fonte3{
  top: 20%;
  padding: 10px 10px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  border: none;
  outline: none;
  position: absolute;
  left: 16.5%;
}