/* Fonte para simular Windows 3 */
@import url('https://fonts.cdnfonts.com/css/fixedsys-62');     /* font-family: 'Fixedsys 62', sans-serif; */

.system3{
    width: auto;
    height: 100vh;
    background-color: #c9c9c9;
}

.mainSystemIcon{
    position: absolute;
    bottom: 0;
    display: none;
}

.mainSystemIcon img{
    width: 45px;
    left: 70px;
    position: relative;
    bottom: 20px;
}

.mainSystemIcon span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 31px;
}

.accessoriesSystemIcon{
    position: absolute;
    bottom: 0;
    display: none;
}

.accessoriesSystemIcon img{
    width: 45px;
    left: 170px;
    position: relative;
    bottom: 20px;
}

.accessoriesSystemIcon span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 105px;
}

.calculatorIconWin3{
    position: absolute;
    bottom: 0;
    display: none;
}

.calculatorIconWin3 img{
    width: 45px;
    left: 300px;
    position: relative;
    bottom: 20px;
}

.calculatorIconWin3 span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 240px;
}

.writeIconWin3{
    position: absolute;
    bottom: 0;
    display: none;
}

.writeIconWin3 img{
    width: 45px;
    left: 400px;
    position: relative;
    bottom: 20px;
}

.writeIconWin3 span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 360px;
}

.mediaPlayerIcon3{
    position: absolute;
    bottom: 0;
    display: none;
}

.mediaPlayerIcon3 img{
    width: 45px;
    left: 500px;
    position: relative;
    bottom: 20px;
}

.mediaPlayerIcon3 span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 430px;
}

.programContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 65vh;
    background-color: #fff;
    border: 1px solid black;
    user-select: none;
}

.programHeader{
    position: relative;
    width: auto;
    height: auto;
    background-color: #001da0;
}

.programTitle{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    color: #fff;
    position: relative;
    left: 35%;
}

.arrowUpManager{
    position: absolute;
    right: 0;
    background-color: #b6b6b6;
    width: 35px;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    z-index: 1;
}

.arrowUpManager img{
    position: relative;
    top: 2.5px;
    width: 25px;
}

.arrowDownManager{
    position: absolute;
    right: 35px;
    background-color: #b6b6b6;
    width: 35px;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    z-index: 1;
}

.arrowDownManager img{
    position: relative;
    top: 2.5px;
    width: 25px;
}

.whiteTarget{
    width: auto;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid black;
    position: relative;
    user-select: none;
    top: 5%;
}

.programMenu{
    font-size: 25px;
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    list-style-type: none;

}

.programMenu li{
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

.accessoriesIcon{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.accessoriesIcon img{
    width: 45px;
    left: 40px;
    position: relative;
}

.accessoriesIcon span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 20px;
}

.gamesIcon{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.gamesIcon img{
    width: 45px;
    left: 150px;
    position: relative;
}

.gamesIcon span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 153px;
}

.mainIcon{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.mainIcon img{
    width: 45px;
    left: 250px;
    position: relative;
}

.mainIcon span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    bottom: 5px;
    left: 256px;
}

.accessoriesIcon span:hover, .gamesIcon span:hover, .mainIcon span:hover{
    background-color: #001da0;
    color: #fff;
    font-weight: 100;
}

.mainProgramMContainer{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 50vw;
    height: 50vh;
    background-color: #ffffff;
    border: 1px solid black;
    z-index: 1;
}


.exitWin3Default{
    position: absolute;
    left: 0;
    background-color: #b6b6b6;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    width: 35px;
    height: 4vh;
    z-index: 1;
}

.arrowUpDefault{
    position: absolute;
    right: 0;
    background-color: #b6b6b6;
    width: 35px;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    height: 4vh;
    z-index: 1;
}

.arrowUpDefault img{
    position: relative;
    width: 25px;
}

.mainProgramMTitle{
    position: relative;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    left: 45%;
    font-weight: 100;
    font-size: 30px;
}

.fileManagerEXE{
    position: relative;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

.fileManagerEXE img{
    position: relative;
    width: 45px;
    left: 30px;
}

.fileManagerEXE span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
}

.promptManagerEXE{
    position: absolute;
    top: 40px;
    left: 120px;
    cursor: pointer;
}

.promptManagerEXE img{
    position: relative;
    width: 40px;
    left: 30px;
}

.promptManagerEXE span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    left: 25px;
}

.windowsSetupEXE{
    position: absolute;
    top: 40px;
    left: 200px;
    cursor: pointer;
}

.windowsSetupEXE img{
    position: relative;
    width: 40px;
    left: 60px;
}

.windowsSetupEXE span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    left: 25px;
}

.controlPanelManagerEXE{
    position: absolute;
    top: 40px;
    left: 370px;
    cursor: pointer;
}

.controlPanelManagerEXE img{
    position: relative;
    width: 40px;
    left: 25px;
}

.controlPanelManagerEXE  span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    left: -10px;
}

.controlPrintManagerEXE{
    position: absolute;
    top: 40px;
    left: 500px;
    cursor: pointer;
}

.controlPrintManagerEXE img{
    position: relative;
    width: 40px;
    left: 30px;
}

.controlPrintManagerEXE span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
}

.fileManagerEXE span:hover, .promptManagerEXE span:hover, .windowsSetupEXE span:hover, 
.controlPanelManagerEXE  span:hover, .controlPrintManagerEXE span:hover{
    background-color: #001da0;
    color: #fff;
    font-weight: 100;
}

.prompt{
    background-color: black;
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
    display: none;
    overflow: auto;
}

.MSPrompt{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    font-size: 30px;
    width: 100%;
}

.terminal{
    font-size: 30px;
    font-family: 'Fixedsys 62', sans-serif;
    white-space: pre-line;
}

.accessoriesPasteContainer{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 50vw;
    height: 50vh;
    background-color: #ffffff;
    border: 1px solid black;
    user-select: none;
    display: none;
    z-index: 1;
}

.win3DefaultHeader{
    position: relative;
    width: auto;
    height: 4vh;
    background-color: #001da0;
}

.arrowDownWin3Default{
    position: absolute;
    right: 35px;
    background-color: #b6b6b6;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    width: 35px;
    height: 4vh;
    z-index: 1;
}

.arrowDownWin3Default img{
    position: relative;
    width: 25px;
}

.arrowDownWin3Default2{
    position: absolute;
    right: 0;
    background-color: #b6b6b6;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    width: 35px;
    height: 4vh;
    z-index: 1;
}

.arrowDownWin3Default2 img{
    position: relative;
    width: 25px;
}

.accessoriesPasteTitle{
    position: relative;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    left: 38%;
    font-weight: 100;
    font-size: 30px;
}

.writeAccessoriesApp{
    position: absolute;
    top: 40px;
    left: 20px;
    cursor: pointer;
}

.writeAccessoriesApp img{
    position: relative;
    width: 40px;
    left: 20px;
}

.writeAccessoriesApp span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    top: 20px;
    left: -20px;
}

.terminalAccessoriesApp{
    position: absolute;
    top: 40px;
    left: 100px;
    cursor: pointer;
}

.terminalAccessoriesApp img{
    position: relative;
    width: 40px;
    left: 35px;
}

.terminalAccessoriesApp span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    top: 20px;
    left: -20px;
}

.notePadAccessoriesApp{
    position: absolute;
    top: 40px;
    left: 200px;
    cursor: pointer;
}

.notePadAccessoriesApp img{
    position: relative;
    width: 40px;
    left: 35px;
}

.notePadAccessoriesApp span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    top: 20px;
    left: -12px;
}

.calcAccessoriesApp{
    position: absolute;
    top: 40px;
    left: 300px;
    cursor: pointer;
}

.calcAccessoriesApp img{
    position: relative;
    width: 40px;
    left: 35px;
}

.calcAccessoriesApp span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    top: 20px;
    left: -25px;
}

.clockAccessoriesApp{
    position: absolute;
    top: 40px;
    left: 400px;
    cursor: pointer;
}

.clockAccessoriesApp img{
    position: relative;
    width: 40px;
    left: 35px;
}

.clockAccessoriesApp span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    top: 20px;
    left: -7px;
}

.mediaAccessoriesApp{
    position: absolute;
    top: 40px;
    left: 500px;
    cursor: pointer;
}

.mediaAccessoriesApp img{
    position: relative;
    width: 40px;
    left: 35px;
}

.mediaAccessoriesApp span{
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    position: relative;
    font-size: 17px;
    top: 20px;
    left: -30px;
}

.writeAccessoriesApp span:hover, .terminalAccessoriesApp span:hover, .notePadAccessoriesApp span:hover, .calcAccessoriesApp span:hover,
.clockAccessoriesApp span:hover, .mediaAccessoriesApp span:hover{
    background-color: #001da0;
    color: #fff;
    font-weight: 100;
}

.win3CalcContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 60vh;
    background-color: #ffffff;
    border: 1px solid black;
    user-select: none;
    display: none;
    z-index: 3;
}


.win3CalcTitle{
    position: relative;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    left: 33%;
    font-weight: 100;
    font-size: 30px;
}

.keyNum3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

.keyNum3 button{
    font-family: 'Fixedsys 62', sans-serif;
    width: 55%;
    height: 65%;
    font-size: 30px;
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
    top: 20px;
    left: 15px;
    position: relative;
    background-color: transparent;
}

.keyNum3 button:active{
    background-color: black;
    color: #fff;
}

.numBlueBorder{
    border: 1px solid #001da0;
    color: #001da0;
}

.numOrangeBorder{
    border: 1px solid #ff4800;
}

.win3CalcContainer input[type="text"]{
    height: 35px;
    width: 200px;
    position: relative;
    left: 150px;
    top: 10px;
    border: 1px solid black;
    font-family: 'Fixedsys 62', sans-serif;
    font-size: 30px;
    text-align: right;
}

#back{
    grid-column: 1/3;
    grid-row: 1;
    width: 30%;
    font-size: 20px;
}

#clear{
    grid-column: 2/3;
    grid-row: 1;
}

.clockContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 45vh;
    background-color: #adadad;
    border: 1px solid black;
    user-select: none;
    display: none;
    z-index: 3;
}

.clockTitle{
    position: relative;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    left: 40%;
    font-weight: 100;
    font-size: 30px;
}

.clockTimeDisplay{
    position: absolute;
    font-family: 'Fixedsys 62', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 70px;
}

.clockDateDisplay{
    position: absolute;
    top: 60%;
    left: 25%;
    font-family: 'Fixedsys 62', sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.writeWin3Container{
    width: 70vw;
    height: 85vh;
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
    background-color: #ffffff;
    border: 1px solid black;
    user-select: none;
    display: none;
    z-index: 3;
}

.writeWin3Title{
    position: absolute;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    left: 45%;
    font-weight: 100;
    font-size: 30px;
}

.whiteTargetWrite{
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid black;
}

.whiteTargetWrite li{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 15px;
}

.whiteTargetWrite li:hover{
    background-color: #001da0;
    color: #fff;
}

.writeWin3Text{
    position: relative;
    width: 100%;
    height: 89.3%;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Fixedsys 62', sans-serif;
    outline: none;
    border: none;
}

.mediaPlayerContainer{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 50vw;
    height: 30vh;
    background-color: #b6b6b6;
    border: 1px solid black;
    z-index: 3;
    user-select: none;
    display: none;
}

.mediaPlayerHeader{
    position: relative;
    height: 5vh;
    background-color: #001da0;
}

#player{
    position: absolute;
    top: 50%;
    width: 400px;
    background-color: #ff4800;
}

.mediaPlayerTitle{
    position: absolute;
    color: #fff;
    font-family: 'Fixedsys 62', sans-serif;
    left: 15%;
    font-weight: 100;
    font-size: 30px;
}

.mediaPlayerControls{
    position: absolute;
    bottom: 5%;
}

.mediaPlayerControls button{
    width: 50px;
    height: auto;
    font-size: 20px;
    margin: 10px;
    background-color: #b6b6b6;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
}

.progressBar{
    position: absolute;
    top: 55%;
    left: 5%;
    width: 80%;
    height: 10%;
    background-color: transparent;
    border: 1px solid black;
    z-index: 1;
}

.progress{
    position: relative;
    width: 5%;
    height: 100%;
    background-color: #585858;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    user-select: none;
    z-index: 0;
}

.win3ArrowDownMedia{
    position: absolute;
    right: 0;
    background-color: #b6b6b6;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    width: 45px;
    height: 5vh;
    z-index: 1;
}

.win3ArrowDownMedia img{
    width: 30px;
}

.exitMediaWin3{
    position: absolute;
    left: 0;
    background-color: #b6b6b6;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    width: 45px;
    height: 5vh;
    z-index: 1;
}